ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $phpcsFile.
		count: 2
		path: Forrest79CodingStandard/Sniffs/NamingConventions/ValidVariableNameSniff.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $stackPtr.
		count: 2
		path: Forrest79CodingStandard/Sniffs/NamingConventions/ValidVariableNameSniff.php

	-
		sniff: SlevomatCodingStandard.Classes.ModernClassNameReference.ClassNameReferencedViaFunctionCall
		message: 'Class name referenced via call of function get_class().'
		count: 1
		path: tests/Sniffs/TestCase.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $phpcsFile.
		count: 1
		path: tests/Sniffs/TestCase.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $stackPtr.
		count: 1
		path: tests/Sniffs/TestCase.php

